body {
  background-color: #121212;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    max-width: 100%;
    overflow-x: hidden;
    cursor: url(../pictures/lava.cur), auto;
}

h1 {
    font-size: 70px;
    font-family: 'Courier New';
    color: #7289da;
    text-align: center;
    text-decoration: underline;
    position: relative;
    top: 7.5px;
}

.skills {
  width: 50%;
  max-width: 350px;
  padding: 0 20px;
  position: relative;
  top: -150px;
  left: 150px;
}

.skill-name {
  font-size: 18px;
  font-weight: 700;
  color: #f1f1f1;
  text-transform: uppercase;
  margin: 20px 0;
  position: relative;
  top: 20px;
  left: 5px;

}

.skill-bar {
  height: 20px;
  background: #282828;
  border-radius: 3px;
}

.skill-per {
  height: 20px;
  background: #d13639;
  border-radius: 3px;
  position: relative;
  animation: fillBars 2.5s 1;
}

.skill-per::before {
  content: attr(per);
  position:absolute;
  padding: 4px 6px;
  background: #f1f1f1;
  border-radius: 4px;
  font-size: 12px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #f1f1f1;
  top: -20px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

@keyframes fillBars {
  from{
    width: 0;
  }
  to {
    width: 100%;
  }
}

.profilok {
  position: relative;
  top: 100px;
}

.prof1 {
  position: relative;
  left: 400px;
  top: 75px;
}
.p1{
  color: white;
  font-size: 20px;
  position: relative;
  top: 80px;
  left: 350px;
  cursor: auto;
}
.pp1 {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  position: relative;
  top: 100px;
  right: 310px;
  font-size: 18px;
  cursor: auto;
}
.prof2 {
  position: relative;
  top: -240px;
  left: 1000px;
}
.p2 {
  color: white;
  font-size: 20px;
  position: relative;
  top: -235px;
  left: 965px;
  cursor: auto;
}
.pp2 {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  position: relative;
  top: -212px;
  left: 290px;
  font-size: 18px;
  cursor: auto;

}

* {
    margin: 0;
    padding: 0;
  }
  
  
  .navbar {
    width: 225px;
    height: 100%;
    background-color: #4F4F4E;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100% 0 0 100%;
    transition: right 0.8s cubic-bezier(1, 0, 0, 1);
  }
  
  .change {
    right: 0;
  }
  
  .hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .line {
    width: 100%;
    height: 3px;
    background-color: chocolate;
    transition: all 0.8s;
  }
  
  .change .line-1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
  }
  
  .change .line-2 {
    opacity: 0;
  }
  
  .change .line-3 {
    transform: rotateZ(405deg) translate(-8px, -6px);
  }
  
  .nav-list {
    text-align: right;
  }
  
  .nav-item {
    list-style: none;
    margin: 25px;
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 22px;
    color: #eee;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
  }
  
  .nav-link::before,
  .nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: chocolate;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
  }
  
  .nav-link::after {
    bottom: 0;
    transform-origin: right;
  }
  
  .nav-link::before {
    top: 0;
    transform-origin: left;
  }
  
  .nav-link:hover::before,
  .nav-link:hover::after {
    transform: scaleX(1);
  }