* {
    background-color: #121212;
    cursor: url('../pictures/lava.cur'), auto;
  }

  body {
    overflow-x: hidden;
  }

  h1 {
    font-size: 25px;
    color: #fff;
    position: relative;
    top: 100px;
    left: 100px;
    padding: 100px 0;
  }